<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--<connectionStrings>
    <add name="Database" connectionString="Data Source=(.)\HDSQLSERVER;AttachDbFilename=C:\Users\hakan.demir\Desktop\ProjeOdevi\mydb.mdf;Integrated Security=True;Database=veterinerkliniktest;User Id=sa;Password=HH123456-;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>